.posts {
  display: flex;
  flex-direction: column;
  gap: 16rem;
  margin-inline-start: 0rem;
}

.title {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--on-primary-color);
  font-size: 4.2rem;
  height: min-content;
  margin-bottom: 1em;
  font-weight: bold;
  z-index: 5;
}
