:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --primary-color: #f9feff;
  --primary-dimmed-color: #efefef;
  --secondary-color: #002367;
  --accent-color: #0041dd;
  --accent-light-color: #4b7aea;
  --muted-color: rgb(183, 183, 183);
  --on-primary-color: black;
}

html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: var(--primary-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}
