.main {
  display: flex;
  justify-content: flex-end;
  margin-inline: 6em;
  height: 80vh;
}

.title {
  display: flex;
  height: 100%;
  font-size: 5.8rem;
  max-width: 40%;
  font-weight: 400;
  line-height: 120%;
  position: fixed;
  top: 150px;
  left: 60px;
}

.posts {
  margin-block-start: 2.4rem;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 36px;
  align-content: start;
  max-width: 50%;
}

@media (min-width: 1250px) {
  .posts > :nth-child(2n-2) {
    position: relative;
    top: 100px;
  }
}

@media (max-width: 1250px) {
  .main {
    flex-direction: column;
    align-items: center;
    margin: 4em 2em;
    height: initial;
  }

  .title {
    position: static;
    font-size: 3.6rem;
    max-width: max-content;
  }
}

@media (max-width: 1250px) and (min-width: 700px) {
  .posts {
    max-width: initial;
    justify-content: stretch;
    gap: 20px;
  }
}

@media (max-width: 700px) {
  .posts {
    grid-template-columns: 1fr;
    row-gap: 1.8em;
    max-width: 100%;
  }
}
