.base-input {
  border: none;
  outline: none;
  border-bottom: 0.1em solid var(--on-primary-color);
  transition: border 0.1s linear;
  padding-bottom: 0.6em;
  font-size: 1.5rem;
  width: 100%;
}

.base-input:focus {
  border-bottom: 0.15em solid var(--accent-color);
}

.base-input:focus-visible {
  outline: unset;
}

.base-input::placeholder {
  color: var(--muted-color);
}
