.primaryBtn {
  background-color: var(--on-primary-color);
  border-radius: 100px;
  padding: 0.4em 1.2em;
  color: var(--primary-color);
  font-size: 10pt;
  transition: all 280ms ease-out 20ms;
  cursor: pointer;
}

.primaryBtn:hover {
  transition: all 350ms ease-out;
  background-color: var(--on-primary-light-color);
}
