.card-container {
  display: flex;
  position: relative;
  width: min-content;
  padding-bottom: 5em;
  border-bottom: 1px groove black;
}

.date {
  position: absolute;
  top: 0;
  right: -2.8em;
  writing-mode: vertical-lr;
  font-size: 1.6rem;
  color: var(--muted-color);
  font-weight: 100;
}

.post-image {
  width: 55vw;
  height: 65vh;
  object-fit: cover;
  transition-duration: 0.8s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  filter: brightness(1.05);
}

@media (max-width: 680px) {
  .post-image {
    width: 60vw;
  }
}

.post-image:hover {
  transition: all 0.5s ease-out;
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
  position: absolute;
  font-size: 2.8rem;
  bottom: 0;
  right: -0.8em;
  z-index: 0;
  color: var(--primary-color);
}

.title:before {
  content: '';
  display: block;
  height: 110%;
  width: 120%;
  margin-left: -3px;
  position: absolute;
  background-color: var(--secondary-color);
  opacity: 0.4;
  transform: rotate(2deg);
  left: -0.6em;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
  z-index: -1;
}

.snippet {
  position: absolute;
  top: 30%;
  font-size: 1.4rem;
  right: -29em;
  max-width: 28em;
  max-height: 18em;
  overflow: hidden;
  color: var(--on-primary-color);
  border-inline-start: 2px double var(--on-primary-color);
  padding-inline-start: 1.6em;
}

.snippet:after {
  content: '..';
}

.author {
  position: absolute;
  font-size: 1.4rem;
  bottom: -2.8em;
  left: 0.4em;
}

.author:before {
  content: '—  ';
}
