.navbar-item {
  fill-opacity: inherit;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  padding: 0 2.8rem;
  cursor: pointer;
  color: var(--muted-color);
  transition-duration: 150ms;
  text-decoration: none;
}

.navbar-item[data-active='false']:hover {
  transition: all 350ms ease-out 50ms, color 100ms ease-out;
  background-color: var(--accent-color);
  color: var(--primary-color);
  transform: scale(1.005);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.navbar-item[data-active='true'] {
  cursor: default;
  background-color: var(--accent-light-color);
  color: var(--primary-color);
}

.nav {
  position: sticky;
  top: 2rem;
  display: flex;
  padding: 0 12.8rem;
  height: 6.4rem;
  margin-top: 4rem;
}

.nav::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(2px);
}

.logo {
  margin-inline-end: auto;
}
/* 
@media screen and (max-width: 800px) {
  .navbar-item {
    display: none;
  }

  .logo {
    margin: auto;
  }
} */
